{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
<div>
    <ul>
        <li><a href="./add_data">Добавление данных в таблицу</a></li>
        <li><a href="./select_data">Выборка данных (вывод в консоль)</a></li>
        <li><a href="./delete_data">Удаление данных</a></li>
        <li><a href="./query1">query1</a></li>
    </ul>
</div>
<div><h1 align = centre> Works log </h1> </div>

{% for item in jobs%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
</div>
{% endfor %}
{% endblock %}